{% extends 'chitanda.html' %}

{% load static %}
{% load comment_tags %}
{% load like_tags %}

{% block title %}{{ blog.title }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap3.3/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <link rel="stylesheet" href="../static/css/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="{% static 'css/tanda_article.css' %}">
{% endblock %}

       {% block content %}
       <div class="bloghead visible-xs">
           <div class="col-xs-2">
            <img src="{% static 'images/qft2.jpg' %}"class="img-rounded" style="margin-top: 0.6em">
          </div>
          <div class="col-xs-10" style="height: 66px; font-size: 12px;">
              <div>
                  <h4>{{ blog.title }}</h4>
              </div>
              <br/>
              <span>作者：{{ blog.author }}</span>
              <span>时间: {{ blog.created_time }}</span>
              <span>分类: <a href="{% url 'blog_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a></span>
              <div class="like" onclick="likeChange(this, 'blog', {{ blog.pk }})">
                {% get_like_count blog %}
                <span style="color: lightpink">
                    <i class="{% get_like_status blog %}" aria-hidden="true"></i>
                </span>
              </div>
          </div>
       </div>
       <div class="bloghead hidden-xs">
           <div class="col-xs-1">
            <img src="{% static 'images/qft2.jpg' %}"class="img-rounded" style="width: 60px">
          </div>
          <div class="col-xs-10">
              <span class="t"><h3>{{ blog.title }}</h3></span>
              <span>作者：{{ blog.author }}</span>
              <span>时间: {{ blog.created_time }}</span>
              <span>分类: <a href="{% url 'blog_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a></span>
              <div class="like" onclick="likeChange(this, 'blog', {{ blog.pk }})">
                <span id="liked_num">赞:{% get_like_count blog %}</span>
                <span style="color: lightpink">
                    <i class="{% get_like_status blog %}" aria-hidden="true" id="heart"></i>
                </span>
              </div>
          </div>
       </div>
        <div class="col-xs-12">
            <P>{{ blog.content|safe }}</P>
        </div>
        <div class="col-xs-12">
          <div class="comment-area">
             <h4 class="comment-area-title">评论</h4>
             <div id="comment_list">
                {% get_comment_list blog as comments %}
                {% for comment in comments %}
                  <div id="root_{{ comment.pk }}" class="comment-info">
                     <span>{{ comment.user.get_nickname_or_username }}</span>
                     <span style="font-size: 10px">{{ comment.comment_time|date:"Y-m-d  H:i:s" }}</span>
                     <div id="comment_{{ comment.pk }}" class="comment-text">
                         {{ comment.comment_text|safe }}
                     </div>
                     <a href="javascript:reply({{ comment.pk }});">回复</a>
                     {% for reply in comment.root_comment.all %}
                      <div class="reply">
                          <span>{{ reply.user.get_nickname_or_username }}</span>
                          <span>({{ reply.comment_time|date:"Y-m-d  H:i:s" }})</span>
                          <span>回复:{{ reply.reply_to.get_nickname_or_username }}</span>
                          <div id="comment_{{ reply.pk }}" class="comment-text" style="font-size: 13px">
                              {{ reply.comment_text|safe }}
                          </div>
                          <a href="javascript:reply({{ reply.pk }});">回复</a>
                      </div>
                     {% endfor %}
                  </div>
                {% empty %}
                <span id="no_comment">暂无评论</span>
                {% endfor %}
             </div>
          </div>
          <div class="comment-area">
             <h4 class="comment-area-title">发表评论</h4>
             {% if user.is_authenticated %}
              <label>{{ user.user.get_nickname_or_username }}，欢迎评论</label>
             <form id="comment_form" action="{% url 'comment_update' %}"  method="post" style="overflow: hidden">
                 {% csrf_token %}
                 {% get_comment_form blog as comment_form %}
                 {% for field in comment_form %}
                    {{ field }}
                 {% endfor %}
                 <span id="comment_error" class="text-danger pull-left"></span>
                 <input type="submit" value="发表评论" class="btn btn-primary" style="float: right">
             </form>
             {% else %}
                您目前处于游客状态，登录了才可以评论哦~
                <a href="{% url 'userlogin' %}?from={{ request.path }}">点击登录</a>
                <span>or</span>
                <a href="{% url 'register' %}?from={{ request.path }}">用户注册</a>
             {% endif %}
         </div>
       </div>
        {% endblock %}



{% block divpage %}
{% endblock %}

{% block script_extend %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript">
    function numFormat(num){
        return ('00' + num).substr(-2);
    }
    function timeFormat(timestamp){
        var datetime = new Date(timestamp*1000);
        var year = datetime.getFullYear();
        var month = numFormat(datetime.getMonth() + 1);
        var day = numFormat(datetime.getDate());
        var hour = numFormat(datetime.getDate());
        var minute = numFormat(datetime.getMinutes());
        var second = numFormat(datetime.getSeconds());
        return year + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second;
    };
    $('#comment_form').submit(function(){
        $('#comment_error').text('');
        if(CKEDITOR.instances['id_text'].document.getBody().getText().trim()==''){
            $('#comment_error').text('评论内容不不能为空');
            return false;
        }
        CKEDITOR.instances['id_text'].updateElement();
        $.ajax({
            url: "{% url 'comment_update' %}",
            type: 'POST',
            data: $(this).serialize(),
            cache: false,
            success: function(data){
                console.log(data);
                if(data['status'] == 'success'){
                    if($('#reply_comment_id').val() == '0'){
                        //插入评论
                        var commnet_html = '<div id="root_' + data['pk'] + '" class="comment-info">' +
                         '<span>' + data['username'] + '</span>' + '<span style="font-size: 10px">' + timeFormat(data['comment_time']) + '</span>' +
                         ' <div id="comment_' + data['pk'] + '" class="comment-text">' + data['comment_text'] + '</div>' + '</div>'
                            + '<a href="javascript:reply('+ data['pk'] +');">回复</a>';
                        $('#comment_list').prepend(commnet_html);
                    }else{
                        //插入回复
                        var reply_html = '<div class="reply"><span>' + data['username'] + '</span>' +
                          '<span>(' + timeFormat(data['comment_time']) + ')</span>' + '<span>回复:'+ data['reply_to'] +'</span>' + '<div id="comment_' + data['pk'] + ' " class="comment-text">' + data['comment_text'] + '</div>'
                          + '<a href="javascript:reply({{ reply.pk }});">回复</a>' + '</div>'
                        $("#root_" + data['root_pk']).append(reply_html);
                        $('#reply_comment_id').val(0);
                        $('#no_comment').remove();
                    }
                    CKEDITOR.instances['id_text'].setData('');
                }else{
                    $('#comment_error').text(data['message']);

                }
            },
            error: function(xhr){
                console.log(xhr);
            },
        });
        return false;
    })
    function reply(reply_comment_id){
        $('#reply_comment_id').val(reply_comment_id);
        var html = $("#comment_" + reply_comment_id ).html();
        $('#reply_content').html(html);
        $('#reply_content_container').show();
        $('html').animate({scrollTop: $('#comment_form').offset().top - 60},300,function(){
            CKEDITOR.instances['id_text'].focus();

        });
    }
    function likeChange(obj, content_type, object_id){
        if(obj.getElementsByClassName('fa fa-heart-o').length == 1){
            var is_like = true
        }
        if(obj.getElementsByClassName('fa fa-heart').length == 1){
            var is_like = false
        }
		$.ajax({
		url: "{% url 'likechange' %}",
		type: 'GET',
		data: {
			content_type: content_type,
			object_id: object_id,
			is_like: is_like,
		},
		cache: false,
		success: function(data){
            if(data['status'] == 'success'){
                    //更新点赞状态
                if(is_like){
                    $('#heart').removeClass('fa fa-heart-o')
                    $('#heart').addClass('fa fa-heart')
                }else{
                    $('#heart').removeClass('fa fa-heart')
                    $('#heart').addClass('fa fa-heart-o')

                }
                //更新点赞数量
                $('#liked_num').text('赞:' + data['liked_num'])

            }else{
                 alert(data['message'])
            }

        },
		error: function(xhr){
		    console.log(xhr)
        }
	});
	}
</script>
{% endblock %}
















