<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <!--告知IE浏览器使用最新内核-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="个人博客,后端,摄影,动漫,音乐,崩坏3,一位热爱崩坏3的站长,二次元">
    <title>(*/ω＼*)ChitandaZone修改密码</title>
    <link rel="icon" type="image/x-icon" href="../../../static/images/log_trr.jpg">
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap3.3/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login_page.css' %}">
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" id='header' role="navigation" >
  <div class="container-fluid" style="padding: 0px">
    <div class="navbar-header">
      <a href="/"><img src="{% static 'images/logo.png' %}" style="height: 54px; padding: 0px; margin-left: 0.6em"/></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li role="presentation"><a href="\">博客<span class="sr-only">(current)</span></a></li>
        <li><a href="/blog/type/2">摄影</a></li>
        <li><a href="https://music.163.com/#/playlist?id=808697539" target="_blank">音乐</a></li>
        <li><a href="/aboutme">关于</a></li>
      </ul>
     <ul class="nav navbar-nav navbar-right" style="margin-right: 1em">
        {% if not user.is_authenticated %}
           <li>
               <a href="{% url 'userlogin' %}?from={{ request.path }}">登录</a>
           </li>
           <li>
               <a href="{% url 'register' %}?from={{ request.path }}">注册</a>
           </li>
        {% else %}
           <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">{{ user.username }}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                   <a href="{% url 'userinfo' %}">
                      <i class="fa fa-info-circle" aria-hidden="true">用户信息</i>
                   </a>
                </li>
                {% if user.is_staff or user.is_superuser %}
                <li>
                   <a href="{% url 'admin:index' %}">
                      <i class="fa fa-server" aria-hidden="true">后台管理</i>
                   </a>
                </li>
                {% endif %}
                <li role="separator" class="divider"></li>
                <li>
                    <a href="{% url 'logout' %}?from={{ request.get_full_path }}">
                       <i class="fa fa-sign-out" aria-hidden="true">注销</i>
                    </a>
                </li>
              </ul>
           </li>
          {% endif %}
      </ul>
    </div>
  </div>
</div>
<!-----------------------导航栏结束------------------------>
<!--------------------页面主体内容-------------------------->
<div class="container-fluid">
 <div class="row">
     <div id="left-img" class="col-xs-3 col-md-3 hidden-xs">
         <img src="{% static 'images/bg_yy3.png' %}" alt="">
     </div>
     <div class="col-xs-10 col-md-7 form-container">
       <div class="row">
          <div class="col-xs-10 form_body">
             <div class="log-img" style="margin-bottom: 1em">
               <img src="{% static 'images/log3.png' %}" style="width: 100%">
             </div>
              <div class="panel panel-info">
              <div class="panel-heading">
                {{ form_title }}
              </div>
              <div class="panel-body" style="overflow: hidden">
                 <form action="" method="post">
                     {% csrf_token %}
                     {% for field in form %}
                        {% if not field.is_hidden %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% endif %}
                        {{ field }}
                        <p class="text-danger">{{ field.errors.as_text }}</p>
                     {% endfor %}
                     <span class="pull-left text-danger">{{ reg_form.non_field_errors }}</span>
                     <div class="pull-right">
                         <input type="submit" value="{{ submit_text }}" class="btn btn-primary">
                         <button class="btn btn-default" onclick="window.location.href='\\'">返回</button>
                     </div>
                 </form>
                  <button class="btn btn-primary pull_left" id="send_code" class="btn btn btn-primary">发送验证码</button>
              </div>
            </div>
          </div>
       </div>
     </div>
 </div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap3.3/js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
        $("#send_code").click(function(){
            var email = $("#id_email").val();
            if(email==""){
                $("#tip").text('* 邮箱不能为空');
                return false;
            }
            // 发送验证码
            $.ajax({
                url: "{% url 'send_verification_code' %}",
                type: "GET",
                data: {
                    'email': email,
                    'send_for': 'forgot_password_code',
                },
                cache: false,
                success: function(data){
                    if(data['status']=='ERROR'){
                        alert(data['status']);
                    }
                }
            });
            // 把按钮变灰
            $(this).addClass('disabled');
            $(this).attr('disabled', true);
            var time = 30;
            $(this).text(time + 's');
            var interval = setInterval(() => {
                if(time <= 0){
                    clearInterval(interval);
                    $(this).removeClass('disabled');
                    $(this).attr('disabled', false);
                    $(this).text('发送验证码');
                    return false;
                }
                time --;
                $(this).text(time + 's');
            }, 1000);
        });
</script>
</body>
</html>