<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>━━∑(￣□￣*|||━━505发生错误</title>
    <link rel="icon" type="image/x-icon" href="../static/images/log_trr.jpg">
<style type="text/css">
        body {
            background: rgba(253, 164, 153, 0.4);
        }
        .error_box {
            margin: 2% 40%;
            text-align: center;
        }
        .error_box h1 {
            font-size: 60px;
            color: white;
            font-weight: bolder;
        }
        .error_box p {
            color: white;
            font-weight: bolder;
            font-size: 23px;
        }
    </style>
</head>
<body>
   <div class="error_box">
       <h1>505</h1>
       <img src="{% static 'images/ygqyn.jpeg' %}" alt="" style="width: 20vw">
       <p>━━∑(￣□￣*|||━━发生错误，错误已发送给管理员，等待维护。。。</p>
   </div>
</body>
</html>