<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <title>SmartSocket</title>
    <link rel="stylesheet" href="{% static 'css/switch2.css' %}" />
  </head>
  <body>
    {% verbatim %}
    <main>
      <div id="app" class="socket-control">
        <div class="tip">
          <span v-show="esp8266NotRun"
            >esp8266未处于工作状态，数据获取失败</span
          >
        </div>
        <div class="Socket-container">
          <span class="title">Socket aperture1</span>
          <div class="Socket">
            <div class="work-status">
              <span class="status">{{ this.status1 ? '通电' : '断电' }}</span>
              <span class="electricity">电流：{{ electricity1 }} A</span>
            </div>
            <div class="checkbox">
              <div class="inner" v-bind:class="{active: status1}">
                <div class="toggle" v-on:click="socketSwitch1"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="Socket-container">
          <span class="title">Socket aperture2</span>
          <div class="Socket">
            <div class="work-status">
              <span class="status">{{ this.status2 ? '通电' : '断电' }}</span>
              <span class="electricity">电流：{{ electricity2 }} A</span>
            </div>
            <div class="checkbox">
              <div class="inner" v-bind:class="{active: status2}">
                <div class="toggle" v-on:click="socketSwitch2"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="Socket-container">
          <span class="title">Socket aperture3</span>
          <div class="Socket">
            <div class="work-status">
              <span class="status">{{ this.status3 ? '通电' : '断电' }}</span>
              <span class="electricity">电流：{{ electricity3 }} A</span>
            </div>

            <div class="checkbox">
              <div class="inner" v-bind:class="{active: status3}">
                <div class="toggle" v-on:click="socketSwitch3"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shade"></div>
      <div class="footer">
        <span>2016通信工程1班 陆军成</span>
      </div>
    </main>
    {% endverbatim %}
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/vue.js' %}"></script>
    <script src="{% static 'js/reqwest.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script type="text/Javascript">
      var csrfToken = Cookies.get('csrftoken')
      var vm = new Vue({
          el: "#app",
          data: {
              status1: false,
              status2: false,
              status3: false,
              electricity1: ' ',
              electricity2: ' ',
              electricity3: ' ',
              esp8266NotRun: true,
          },
          created(){
              this.getData();
              function tip(){
                  if(!esp8266NotRun){
                      alert('插座未启动，无法获取数据！~~')
                  }
              }
          },
          methods: {
              getData: function(){
                  var self = this;
                  reqwest({
                      url: '/smartsocket/api',
                      method: 'get',
                      type: 'json',
                      success: function(data){
                      self.status1 = eval(data.socketData[0].status)
                      self.status2 = eval(data.socketData[1].status)
                      self.status3 = eval(data.socketData[2].status)
                      self.electricity1 = eval(data.socketData[0].msg)
                      self.electricity2 = eval(data.socketData[1].msg)
                      self.electricity3 = eval(data.socketData[2].msg)
                      self.esp8266NotRun = !eval(data.esp8266_run)
                      },
                      error: function(err){
                          alert('数据获取失败~')
                      },
                  })
              },
              socketSwitch1: function(){
                  var self = this;
                  if(this.esp8266NotRun){
                      alert('插座esp8266模块未处于工作状态，无法进行操作')
                      return 0
                  }
                  this.status1 = !this.status1;
                  reqwest({
                      url: '/smartsocket/1',
                      method: 'post',
                      headers: {
                          "X-CSRFTOKEN": csrfToken,
                      },
                      data: {
                          status1: self.status1,
                      },
                      success: function(){
                        console.log(self.status1)
                      },
                      error: function(err){
                          console.log(err)
                      },
                  })
                  },
              socketSwitch2: function(){
                  var self = this;
                  if(this.esp8266NotRun){
                      alert('插座esp8266模块未处于工作状态，无法进行操作')
                      return 0
                  }
                  this.status2 = !this.status2;
                  console.log(this.status2)
                  reqwest({
                      url: '/smartsocket/1',
                      method: 'post',
                      headers: {
                          "X-CSRFTOKEN": csrfToken,
                      },
                      data: {
                          status2: self.status2,
                      },
                      success: function(){
                          console.log(self.status2)
                      },
                      error: function(err){
                          console.log(err)
                      },
                  })
                  },
              socketSwitch3: function(){
                  var self = this;
                  if(this.esp8266NotRun){
                      alert('插座esp8266模块未处于工作状态，无法进行操作')
                      return 0
                  }
                  this.status3 = !this.status3;
                  console.log(this.status3)
                  reqwest({
                      url: '/smartsocket/1',
                      method: 'post',
                      headers: {
                          "X-CSRFTOKEN": csrfToken,
                      },
                      data: {
                          status3: self.status3,
                      },
                      success: function(){
                          console.log(self.status3)
                      },
                      error: function(err){
                          console.log(err)
                      },
                  })
                  }
          },
      })

      setInterval(listenData, 8000);

      function listenData() {
        reqwest({
            url: '/smartsocket/api',
            method: 'get',
            type: 'json',
            success: function(data) {
                  vm.status1 = eval(data.socketData[0].status)
                  vm.status2 = eval(data.socketData[1].status)
                  vm.status3 = eval(data.socketData[2].status)
                  vm.electricity1 = eval(data.socketData[0].msg)
                  vm.electricity2 = eval(data.socketData[1].msg)
                  vm.electricity3 = eval(data.socketData[2].msg)
                  vm.esp8266NotRun = !eval(data.esp8266_run)
            }
        })
      }
    </script>
  </body>
</html>
